header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 5rem 1rem 5rem;
    box-shadow: 0 5px 20px rgb(24, 24, 24);
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 1000;
    background-color: rgb(37, 37, 37);
    height: auto;
}

h4.logo {
    transition: color 0.5s, border-color 0.5s;
}

h4.logo:hover {
    color: hsl(39, 100%, 51%);
    cursor: pointer;
}

.hamburger-button {
    display: none;
}

@media (max-width: 768px) {
    header {
        padding: 1.5rem 3rem 1rem 3rem;
    }

    header.open {
        flex-direction: column;
        padding-bottom: 1rem;
        box-shadow: none;
    }

    .hidden-logo {
        display: none;
    }

    .hamburger-button {
        display: flex;
        font-size: large;
        width: 25px;
        height: 25px;
        padding: 0;
        align-self: flex-end;
        background-color: transparent;
        border: none;
        color: white;
        text-align: center;
    }

    .hamburger-button {
        cursor: pointer;
    }
}