.nav {
    display: flex;
    flex-direction: row;
}

.nav-items {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.nav-item {
    list-style: none;
    text-decoration: none;
    padding: 0.25rem 1.25rem;
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.5s, border-color 0.5s;
}

.link.active {
    border-bottom: 3px solid hsl(39, 100%, 51%);
    color: white
}

.link:hover {
    border-bottom: 3px solid hsl(39, 100%, 51%);
    color: hsl(39, 100%, 51%);
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
        gap: 1rem;

    }

    .nav-closed {
        display: none;
    }

    .nav-open {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .nav-item {
        padding: 0.25rem 0;
    }

    .nav-items {
        display: none;
    }

    .nav-items.open {
        display: flex;
        padding: 0;
        flex-direction: column;
        gap: 0.25rem;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(37, 37, 37);
        padding: 1rem 0;
        box-shadow: 0 20px 10px 0px rgb(24, 24, 24);
    }
}
